<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.3" targetFramework="net461" />
  <package id="Antlr2.Tools" version="2.7.6.4" targetFramework="net461" />
  <package id="Appccelerate.StateMachine" version="3.3.0" targetFramework="net461" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net461" />
  <package id="Git-Credential-Manager" version="0.1.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2021.2.0" targetFramework="net472" />
  <package id="JetBrains.Build.Platform.DistributedCache" version="1.0.20210408.158" targetFramework="net472" />
  <package id="JetBrains.Build.Platform.Tasks.ProxyToSolutionCompiledTask" version="3.2.20210319.2" targetFramework="net472" developmentDependency="true" />
  <package id="JetBrains.Build.Platform.Tasks.ThemedIconsPacker" version="2.0.20151217.1" targetFramework="net461" developmentDependency="true" />
  <package id="JetBrains.ClangTidy" version="12.0.1" targetFramework="net472" />
  <package id="JetBrains.ExternalAnnotations" version="10.2.100" targetFramework="net472" />
  <package id="JetBrains.Lifetimes" version="2021.2.0" targetFramework="net472" />
  <package id="JetBrains.MahApps.Metro" version="1.5.0.1" targetFramework="net461" />
  <package id="JetBrains.Microsoft.Deployment.Compression.Cab" version="3.11.0" targetFramework="net461" />
  <package id="JetBrains.Microsoft.Deployment.WindowsInstaller" version="3.11.0" targetFramework="net461" />
  <package id="JetBrains.Microsoft.TestPlatform.TranslationLayer" version="16.0.0.20191015" targetFramework="net461" />
  <package id="JetBrains.MSBuild.Xplat.Engine" version="20161013.1.0" targetFramework="net45" />
  <package id="JetBrains.NuGet.Commands" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Common" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Configurations" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Core" version="2.14.2.20210602" targetFramework="net472" />
  <package id="JetBrains.NuGet.Credentials" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.DependencyResolver.Core" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Frameworks" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.LibraryModel" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.PackageManagement" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Packaging" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.ProjectModel" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Protocol" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Resolver" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NuGet.Versioning" version="5.10.20210730.71" targetFramework="net472" />
  <package id="JetBrains.NUnit.ReSharperRunner2" version="2.7.1" targetFramework="net461" />
  <package id="JetBrains.NUnit.ReSharperRunner3" version="3.10.4" targetFramework="net461" />
  <package id="JetBrains.Platform.Core.Ide" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Core.IisExpress" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Core.MsBuild" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Core.Shell" version="212.0.20210825.101346" targetFramework="net472" />
  <package id="JetBrains.Platform.Core.Text" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Installer" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Interop.CommandLine" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop.Console" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop.Ide" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Lib.DevExpress" version="2.0.20170610" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.VisualStudio.AnyVs.ShellInterop.PrivateBuild" version="2.0.20141005.1" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.WpfContrib" version="2.0.20170610" targetFramework="net461" />
  <package id="JetBrains.Platform.MSBuild.Logger" version="1.0.20170331.0" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.Platform.MSBuild.Logger.Api" version="1.0.20170809" targetFramework="net461" />
  <package id="JetBrains.Platform.RdProtocol" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Sdk" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.Tests.Framework" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.UIInteractive.Ide" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.UIInteractive.Shell" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.UIInteractive.Text" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.Core" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.JustVs10" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.JustVs11" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.JustVs12" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.JustVs14" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.JustVs15" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.JustVs16" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.Protocol" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs09" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs10" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs11" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs12" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs14" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs15" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.SinceVs16" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Platform.VisualStudio.Util" version="212.0.20210825.101650" targetFramework="net472" />
  <package id="JetBrains.Profiler.Api" version="1.1.8" targetFramework="net472" />
  <package id="JetBrains.Profiler.SelfApi" version="2.1.2" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.Core" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.Cpp.Src.Core" version="212.0.20210825.110831" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.SolutionBuilder" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.src" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.Tasks" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.test.Framework" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.UIInteractive.Core" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.UIInteractive.Features" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.UIInteractive.SolutionAnalysis" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.UIInteractive.SolutionBuilder" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.UnitTesting" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.VisualStudio._Core" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.VisualStudio.Protocol" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.VisualStudio.SinceVs10" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.VisualStudio.UnitTesting" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.Web.Core" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.Psi.Features.Web.UIInteractive" version="212.0.20210825.102941" targetFramework="net472" />
  <package id="JetBrains.RdFramework" version="2021.2.0" targetFramework="net472" />
  <package id="JetBrains.RdFramework.Reflection" version="2021.2.0" targetFramework="net472" />
  <package id="JetBrains.ReSharper.SDK" version="2021.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="JetBrains.ReSharper.SDK.Internal" version="212.0.20210825.111333" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner" version="2.2.1.58" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Abstractions" version="2.2.1" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.MsTest" version="2.2.1.31" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.MsTest.Tasks" version="2.2.1.10" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.MsTest10" version="2.2.1.11" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.NUnit2" version="2.2.1.16" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.NUnit2.Tasks" version="2.2.1.7" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.NUnit3" version="2.2.1.35" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.NUnit3.Tasks" version="2.2.1.13" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.UWP" version="2.2.1.14" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.UWP.Tasks" version="2.2.1.1" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.VsTest" version="2.2.1.10" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.VsTest.Tasks" version="2.2.1.1" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.XUnit" version="2.2.1.27" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Adapters.XUnit.Tasks" version="2.2.1.8" targetFramework="net472" />
  <package id="JetBrains.ReSharper.TestRunner.Utilities" version="2.2.1.6" targetFramework="net472" />
  <package id="JetBrains.Roslyn.References.Repack" version="42.42.20210422.111819" targetFramework="net472" />
  <package id="JetBrains.SharpZipLib.Stripped" version="0.87.20200522.23" targetFramework="net461" />
  <package id="JetBrains.Should" version="1.1.20" targetFramework="net461" />
  <package id="JetBrains.System.Reflection.Metadata" version="20170417.0.0.0" targetFramework="net45" />
  <package id="JetBrains.System.Windows.Interactivity" version="3.0.40218.1" targetFramework="net461" />
  <package id="JetBrains.Toolset.RefAsm.Net461.NetStandard" version="2.0.20210225.212946" targetFramework="net461" />
  <package id="JetBrains.Toolset.ScriptSourcesCompiler.Interface" version="1.0.20170420.1" targetFramework="net461" />
  <package id="JetBrains.Vestris.ResourceLib" version="1.4.20210120.1" targetFramework="net461" />
  <package id="JetBrains.Windows7APICodePack.Stripped" version="1.1.20210120.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NVelocity" version="1.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net461" />
  <package id="Sprache.JetBrains" version="2.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Wave" version="212.0.0.0" targetFramework="net472" />
  <package id="ww898.AELauncher" version="1.0.2" targetFramework="net461" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net461" />
  <package id="xunit.abstractions.JetBrains" version="2.0.0" targetFramework="net40" />
  <package id="xunit.JetBrains" version="1.9.2" targetFramework="net461" />
  <package id="xunit.runner.utility" version="2.4.1" targetFramework="net461" />
  <package id="xunit.runner.utility.JetBrains" version="2.2.0" targetFramework="net40" />
  <package id="YamlDotNet.Signed" version="5.2.1" targetFramework="net461" />
</packages>